body, h2{
    margin: 0px;
}

.name{
    margin: 0px;
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 6px;
    color: aliceblue;
}

.nav-a{
    text-decoration: none;
    color: aliceblue;
}



section{
    overflow: hidden;
    padding-left: 300px;
    padding-top: 50px;

}
h2{
    border-bottom: 1px solid black;
    overflow: hidden;
    margin-bottom: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}


.box{
    background-color: rgb(20, 59, 77);
    display:flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    float: left;
    color: aliceblue;
}


.me_img{
    border-radius: 50%;
    width: 200px;
    margin-top: 30px;
    padding: 20px
}

ul{
    font-weight: lighter;
    line-height: 40px;
}

.title-text{
    font-size: 15px;
    font-weight: bold;
}

.title-content{
    font-size: 14px;
}

.main-title{
    margin-bottom: 20px;
    margin-top: 80px;
}

.float{
    overflow: hidden;
}

.uni{
    float: left;
    font-weight: bold;
    font-size: 15px;
}

.year{
    float:right;
    margin-right: 60px;
    font-weight: bold;
    font-size: 15px;
}

.major{
    font-weight: lighter;
    font-size: 14px;
    margin-top: 0px;
}

.likelion{
    float: left;
    font-size: 15px;
    font-weight: bold;
}

.comming{
    font-size: 18px;
    font-weight: bold;
}
.contact{
    font-size: 15px;
    font-weight: bold;
}

.contact-a{
    text-decoration: none;
        color: black;
}

.contact-text{
    font-size: 14px;
    font-weight: lighter;
}

.helloworld{
    font-weight: bold;
    font-size: 85px;
    text-align: center;
    margin-top: 100px;
}
